datasets
ipykernel
ipywidgets
matplotlib
numpy
pandas
scikit-learn
seaborn
torch
transformers
accelerate>=1.1.0
gradio>=6.26,<7
python-dotenv
evaluate
absl-py
nltk
rouge_score
bert-score
openai>=3.3,<4
pydantic
deepeval
anthropic
pypdf
sentence-transformers
faiss-cpu>=1.15,<2
streamlit
openai-agents>=0.22,<0.23
mlflow>=3.16,<3.17
mcp>=2.2,<3
graphviz
PyYAML==6.0.3
pytest==8.4.1
requests
nbclient>=0.11,<0.12
nbformat>=5.11,<6
