datasets
ipykernel
ipywidgets
matplotlib
numpy
pandas
scikit-learn
seaborn
torch
transformers
accelerate>=1.1.0
gradio
python-dotenv
evaluate
absl-py
nltk
rouge_score
bert-score
openai
pydantic
deepeval
anthropic
pypdf
sentence-transformers
faiss-cpu
streamlit
anthropic
pypdf
sentence-transformers
faiss-cpu
openai-agents
mcp
graphviz
PyYAML==6.0.3
pytest==8.4.1
